div{
  text-align: center;
  width:400px;
  height:80px;
  margin-left: 500px;
  padding-top: 20px;
  padding-bottom:50px;
  color:#F3444F;
  font-family: 'Lucida Handwriting',cursive;
  font-size: 30px;
}
img{
  margin-top:10px;
  margin-bottom: 10px;
  position: relative;
  left:10px;
}
.username{
  padding: 2px 2px 2px 2px;
  background-color:#94B3FD;
  border:2px solid #2C3333;
}
.password{
  padding: 2px 2px 2px 2px;
  background-color: #94B3FD;
  border:2px solid #2C3333;
}
h4{
  padding-top: 10px;
  padding-bottom: 10px;
  width:200px;
  margin-left: 580px;
  color:#FA4EAB;
  text-align: center;
  font-family: 'Algerian',serif;
  font-size: 20px;
}
form{
    text-align: center;
}
p{
  display: inline-block;
  width:100px;
  background-color:#F5C6A5;
}
.block1{
  background-color:#A2D2FF;
}
body{
  background-color:#F9E4D4;
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 2px 2px 6px #91C483;
  -moz-box-shadow: 2px 2px 6px #91C483;
  box-shadow: 2px 2px 6px #91C483;
  font-family: Georgia;
  color: #750550;
  font-size: 17px;
  padding: 5px 10px 5px 10px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
